* {
  margin: 0px;
}
/*  */
.name {
  font-size: 20px;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.header {
  background-color: rgb(216, 156, 25);
  overflow: hidden;
}
.header a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.header a:hover {
  background-color: #ddd;
  color: black;
  border-radius: 10px 10px 10px 10px;
}

p {
  color: black;
}

.main h4 {
  color: black;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: white;
}

.main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px 15px 20px 15px;
}

img {
  height: auto;
  max-width: 100%;
}

.card:hover {
  transform: scale(1.1);
}
.main h3 {
  color: black;
}
button a {
  color: teal;
  font-size: 20px;
  text-decoration: none;
}

.view a:hover {
  background-color: rgb(216, 156, 25);
  color: black;
}
