h2 {
  color: white;
  font-size: 40px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

ul {
  color: white;
}

h1 {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

p {
  color: white;
}

img {
  border-radius: 15px 15px 15px 15px;
}
.footer {
  margin-bottom: 40px;
}
