body {
  background-color: black;
  text-align: center;
}
.landing {
  width: 100%;
  height: 100%;
}
h1 {
  margin-bottom: 40px;
  margin-top: 60px;
  color: #fff;
  font-weight: 800;
  text-align: center;
  font-size: 60px;
}
h3 {
  color: white;
  text-align: center;
  margin-bottom: 20px;
}
.button-line {
  text-transform: uppercase;
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
  font-size: 1.4em;
  padding: 20px 40px;
  text-decoration: none;
  margin: 0 auto;
  display: block;
  width: 100px;
}

.button-line:hover {
  background-color: white;
  color: black;
}

h2 {
  color: white;
}
